/* .card{
    background-color: #222;
  } */
  /* .card-body img {
    filter: invert(1);
} */
/* .card-body label {
  color: #d4d4d4;
}
.card-body p {
  text-align: center;
  color: #d4d4d4;
}
.card-body a.cursor-pointer {
  text-align: center;
  display: block;
} */

.signuphead .h2 {
  padding: 5px;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: #555 !important;
  margin-bottom: 5px;
}

.signuphead .lead {
  text-align: center;
  margin: 0;
}