.card{
    background-color: #fff;
  }
  .card-body img {
    /* filter: invert(1); */
}
.card-body label {
  color: #555;
}
.card-body p {
  text-align: center;
  color: #555;
}
.card-body a.cursor-pointer {
  text-align: center;
  display: block;
}
.main-block {
  background-color: #fff;
}
.top-heading p.lead {
  color: #555;
  margin-bottom: 20px;
}
.card-body a {
  color: #555;
}
.card-body label {
  margin-bottom: 15px;
}

  .btn-main .btn-info:focus {
    box-shadow: none;
}
.main-block h1, p {
  color: #555;
}

.signuphead .h2 {
  text-align: center;
  color: #555 !important;
  padding: 5px;
  font-size: 22px;
  font-weight: 600;
}

.signuphead .lead {
  text-align: center;
}