<div class="contact-form-wrapper d-flex justify-content-center shop-inven-main">
    <div class="contact-form">
        <div _ngcontent-wkt-c22="" class="text-center min-logo" [routerLink]="['/']">
            <img _ngcontent-wkt-c22="" src="../../../../../assets/img/KnightNetwork.png" alt="Charles Hall" width="250"
                class="img-fluid" />
        </div>
        <br />

        <div class="shop-main">
            <div class="shop-desc">
                <h1 class="title"><b>FBASystem Account Representative will be in touch with you soon.</b></h1>
                <div class="shop-des-main">
                    <p class="description">

                    </p>
                </div>
                <div class="contact-form submit-button-wrapper">
                    <button class="btn btn-info header-btn" (click)="_authService.logout()">
                        Logout
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>